/* 0_entry.css - SiteSpecific Stylesheet
   Author: Sho Serrano (shojapan627@gmail.com)
   Date: June 22nd 2024 */


/* Body Format */
body {
   margin: 2.5%;
}


/* Resume Container */
.resume {
   margin: 2.5% auto; /* Center the resume */
   padding: 2%;
   max-width: 1200px;
   display: flex;
   justify-content: space-around;
   align-items: stretch;
   border: solid 0.0625em #000000;
   background-color: #adeff9;
}


h3 {
   font-weight: normal;
}


/* Contact Information */
.contact,
.section {
   flex: 1 1 200px; /* Flex-grow, flex-shrink, flex-basis */
   padding: 1%;
   border-right: 0.0625em solid #000000;
   display: flex;
   flex-direction: column;
   justify-content: flex-start; /* Adjusted to start from the top */
   align-items: flex-start; /* Adjusted to align items to the start (left) */
}



/* Remove the border from the last section */
.resume .section:last-child {
   border-right: none;
}


/* Section After Elements */
.section::after {
   content: "";
   width: 0.0625vw;
   height: 100%;
   background-color: #000000;
   display: block;
   position: relative;
   right: 1.5vw;
   transform: translateY(-50%);
}


.skills::after {
   width: 0;
   bottom: 7vh;
   right: 0.5vw;
}


.experience::after {
   bottom: 15vh;
}


.projects::after {
   width: 0;
}


.education::after {
   width: 0;
}


/* Media Queries for Responsive Design */
@media (max-width: 750px) {
   .resume {
      flex-direction: column;
      align-items: center;
   }
   .contact,
   .section {
      border-right: none;
      margin-bottom: 2.5%;
   }
}

