/* 0_entry.css - SiteSpecific Stylesheet
   Author: Sho Serrano (shojapan627@gmail.com)
   Date: June 22nd 2024 */


body, html {
   padding: 0;
}

/* Grid Layout for List */
.list {
   width: 80vw;
   height: 450vh;
   padding: 1%;
   display: grid;
   grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   border: solid .05em #000000;
   background-color: #ffffff;
}

/* Center List */
.border {
   display: flex;
   align-items: center;
   justify-content: center;
}

.date {
   grid-row: 1 / 2;
   grid-column: 2 / 3;
   font-size: 1.5vw; 
   word-spacing: 0.25vw;
   padding: 0.75%;
   border: solid .05em #000000;
   background-color: #ffffff;
}

.project {
   grid-row: 1 / 2;
   grid-column: 3 / 8;
   font-size: 1.5vw; 
   word-spacing: 0.25vw;
   padding: 0.5%;
   border: solid .05em #000000;
   background-color: #ffffff; 
}

.download {
   grid-row: 1 / 2;
   grid-column: 8 / 10;
   font-size: 1.5vw; 
   word-spacing: 0.25vw;
   padding: 0.5%;
   border: solid .05em #000000;
   background-color: #ffffff; 
}

.dates {
   grid-row: span 1;
   grid-column: 2 / 3;
   font-size: 1.25vw; 
   word-spacing: 0.4vw;
   border-right: 0.0625em solid #000000;
}

.projects {
   grid-row: span 1;
   grid-column: 3 / 8;
   font-size: 1.25vw; 
   word-spacing: 0.4vw;
   border-right: 0.0625em solid #000000;
}

.button {
   background-color: blue;
   width: auto;
   height: 5vh;
   grid-row: span 1;
   grid-column: 9 / 10;
   border-radius: 10%;
   cursor: pointer;
   justify-self: center;
   align-self: center;
   padding-right: 10%;
   padding-left: 10%;
}

.buttonLink {
   background-color:chartreuse;
   width: auto;
   height: 5vh;
   grid-row: span 1;
   grid-column: 9 / 10;
   border-radius: 10%;
   cursor: pointer;
   justify-self: center;
   align-self: center;
   padding-right: 10%;
   padding-left: 10%;
}

.buttonImage {
   width: 100%;
   height: 100%;
   display: flex;
   align-self: center;
   justify-self: center;
   /* Keeps Image Aspect Ratio */
   object-fit: contain;
}




